[2019-05-31 16:51] ClaytonJY opened #2 "content is left-shifted"
Is it possible to have the output content not be left-shifted, but instead be in the center of the page? having everything against the left border looks unnatural, and means that in a RHS configuration the toolbars cover a lot of content when expanded.

(p.s. thanks for the great tool!)

[2019-05-31 20:41] GjjvdBurg commented on #2
Hi @ClaytonJY, thanks for the suggestion! I've added a PR with a potential solution. Can you check if this works for you? I've checked it on two files and it seems to center the PDF on the screen. When you confirm it works, I'll merge it into master.

(note that this doesn't generally ensure the toolbar doesn't cover anything. I'm not sure what the math for that should be, so I'm open to suggestio

[2019-06-13 15:38] #2 closed

[2019-07-22 18:14] ClaytonJY commented on #2
Sorry I forgot to reply; I've been using this for awhile and it works great! Thank you very much for the quick fix here @GjjvdBurg.

[2019-07-22 20:01] GjjvdBurg commented on #2
No problem, glad to hear it! Btw, since version 0.3.0 I'm using new cropping code because pdfcrop didn't always return the right bounding box. If you haven't already I recommend updating! :)

[2019-07-27 18:56] mr-ubik opened #4 "wand.exceptions.PolicyError raised during Cropping"
## Steps to reproduce:

1) Clone the repository
2) Install the Python Dependencies
3) Try to sync https://arxiv.org/abs/1810.06339
4) Exception raised after/during the PDF cropping stage

## STD Output

[code]

[2019-07-27 20:51] GjjvdBurg commented on #4
Hi @mr-ubik, thanks for reporting this! This is actually a problem with ImageMagick. You can read more about it and how to fix it here: https://stackoverflow.com/questions/52998331/imagemagick-security-policy-pdf-blocking-conversion

I'm assuming this will work so I'll close the issue, but feel free to reopen if it doesn't!

[2019-07-27 20:51] #4 closed

[2019-07-28 12:36] mr-ubik commented on #4
Fantastic, thanks!

[2019-10-07 16:34] aweiler opened #6 "Title contains "/" leads to FileNotFoundError"
If the title of the paper contains a "/", there is a FileNotFoundError. Try e.g. with http://arxiv.org/abs/1909.02568

[code]

[2019-10-07 16:38] aweiler opened #7 "If the arxiv link looks like "http://arxiv.org/abs/arXiv:1908.03213", link not recognised"
Some arxiv links on e.g. inspire (see e.g. [link](https://inspirehep.net/search?p=find+eprint+1908.03213) ) are of this form
[code]
which leads to this:
[code]

[2019-10-09 13:51] #6 closed

[2019-10-09 13:52] GjjvdBurg commented on #6
Thanks for the bug report @aweiler! This should be fixed in the latest update to the script. I'll get to the other issue you raised soon :)

[2019-10-09 13:54] GjjvdBurg opened #8 "Add PMLR provider"
http://proceedings.mlr.press

[2019-10-09 13:55] GjjvdBurg opened #9 "Add Taylor & Francis provider"
https://www.tandfonline.com/

[2019-10-09 13:57] GjjvdBurg opened #10 "Add CiteSeer provider"
E.g. http://citeseerx.ist.psu.edu/viewdoc/summary?doi=10.1.1.101.6521&rank=11

[2019-10-09 13:57] GjjvdBurg opened #11 "Add ProjectEuclid provider"

[2019-10-09 13:59] GjjvdBurg opened #12 "Add NeurIPS provider"
papers.nips.cc

[2019-10-09 14:04] GjjvdBurg opened #13 "Add ICML provider"
See also #12

[2019-10-15 12:14] aweiler commented on #6
Thanks so much, this fixes it!  (I had to remember to redo the docker build).

I am using your awesome script everyday and I am recommending it at my university.

[2019-10-25 18:58] #7 closed

[2019-10-25 19:32] GjjvdBurg commented on #7
This bug is fixed in version 0.4.1 of paper2remarkable (I changed the name recently). Thanks for your patience on this and let me know if you have any further problems or feature requests!

[2019-10-25 19:32] GjjvdBurg commented on #6
Thanks @aweiler, that's great to hear!

[2019-10-25 20:26] #8 closed

[2019-10-25 20:26] GjjvdBurg commented on #13
closed by #16

[2019-10-25 20:26] #13 closed

[2019-10-29 10:44] #12 closed

[2019-12-27 20:59] GjjvdBurg commented on #10
Closed with #19

[2019-12-27 20:59] #10 closed

[2020-01-09 15:27] matthijsvk opened #20 "Creating directory fails if doesn't exist"
I'm trying to save papers to specific directories, but creating the directory fails if it doesn't exists.
If I manually create the directory on the Remarkable first, it works.

I'm on version 2.0.2.0.

Command I used:
`p2r https://arxiv.org/abs/1811.11242 -p /Testdir --filename test.pdf`

Error message:
[code]

[2020-01-10 10:52] #20 closed

[2020-01-10 10:54] GjjvdBurg commented on #20
Hi @matthijsvk, thanks for reporting this issue! I think this is fixed now, and I'll prepare a new release of the package right away. Let me know if you encounter any further problems with the package!

[2020-01-10 13:48] matthijsvk opened #21 "Fails for local pdf"
I try to upload a pdf I have locally on my computer, and get this error message:

[code]

So it seems like it's trying to fetch it from online.

[2020-01-10 14:05] matthijsvk opened #22 "upload to directory fails if file already exists in top-level 'My Files' directory"
If I try to upload a file to some directory on the reMarkable with the '-p' option, and the file already exists in the top-level folder, the transfer fails.

Maybe the program first transfers the document to the remarkable in the top-level folder, and then moves it?

An alternative would be to rename it with some random name, transfer it, and then rename again when moving to the final directory.

[2020-01-10 14:30] matthijsvk commented on #21
I found it might be because the local pdf isn't seen in the Docker container.
normal command: `docker run --rm -v "/home/matthijsv/.rmapi:/home/user/.rmapi:rw" p2r --center -v $HOME/document.pdf`.

Instead if I mount the document in the Docker container using the 'v' option, it works:
`docker run --rm -v "/home/matthijsv/.rmapi:/home/user/.rmapi:rw" -v "$HOME/document.pdf":"/workspace/document.pdf

[2020-01-10 14:36] matthijsvk commented on #21
I have a directory on my local machine where I store my papers, and a script to monitor whenever I add papers to it.
The script then automatically uploads the paper to a folder on the Remarkable.

[code]

[2020-01-23 20:22] #21 closed

[2020-01-23 20:26] GjjvdBurg commented on #21
Hi @matthijsvk, thank you for reporting this issue and thanks for your patience.

It's true that the error was due to the fact that the program can't find the file and therefore assumes it's a URL. In the latest commit this is now fixed and the program no longer defaults to a URL if it can't find the local file. I'll update the package asap.

[2020-01-23 20:37] GjjvdBurg commented on #22
Thanks for reporting this @matthijsvk I'll take a look

[2020-01-24 10:52] GjjvdBurg commented on #22
@matthijsvk I think this problem lies with rmapi, so I've raised an issue there.

[2020-02-18 12:39] sirupsen opened #25 "Default PDF Title"
Moving https://github.com/GjjvdBurg/paper2remarkable/commit/d4c682b869bb2bf391d5cf686baec026c5956875 here, good call @GjjvdBurg :)

Some papers, e.g. [this one](https://www.nber.org/papers/w26752.pdf) doesn't provide the author/title metadata for a nice title 😢 I've been using the "Print to Remarkable" Chrome extension, but recently started trying to use `p2r` via Alfred to transfer _all_ content

[2020-02-18 12:41] sirupsen opened #26 "Performance"
This is not overly a nuisance for me because I run the script async, but it does make it a little less pleasant to use. This 41 page PDF takes over one minute!

[code]

[2020-02-19 12:10] GjjvdBurg commented on #26
Hi @sirupsen, thanks for the bug reports! Yes, performance is a bit of an issue. The majority of the time is spent on cropping the pages of the pdf to remove excess white space. After some profiling it seems that the expensive part of that operation is creating an image of a pdf page using the pdfplumber package and I don't see a way to avoid that (the reason this is done in Python at all is that

[2020-02-19 12:38] GjjvdBurg commented on #25
This is a good point. Ideally, I'd prefer to add NBER as a Provider of papers (which is what I've done in #27) as it isn't too hard to add these providers and it's nice to have proper filenames.

But to address the issue, I think it's probably best to replace the error with a warning and use the pdf name where possible.

[2020-02-19 12:38] #25 closed

[2020-02-19 12:38] GjjvdBurg commented on #25
Now fixed in master, I'll release a new version of the package asap. Thanks for your suggestions!

[2020-02-19 19:41] sirupsen commented on #26
Might it be possible to remove whitespace without converting to an image first? 👂

[2020-02-19 19:42] sirupsen commented on #25
@GjjvdBurg you're so responsive, I love it!

[2020-02-20 23:03] GjjvdBurg commented on #26
I'm not sure, it might be necessary to render the pdf to figure out what the page looks like. That said, there is a pdfparser package that links directly to libpoppler, which seems a lot faster but is not a drop-in replacement for the current method with pdfplumber. I'll look into this a bit more and see what I can do.

[2020-02-22 14:15] #26 closed

[2020-02-22 14:16] GjjvdBurg commented on #26
@sirupsen Thanks again for reporting this issue! I've just pushed some changes that give about an 8x speedup. I'll prepare a new release of the package soon.

[2020-02-22 16:48] sirupsen commented on #26
Excellent!!! I’ll upgrade as soon as it’s released.

I do think a no crop flag would be useful. Some may prefer to have tools (change pen, highlight, etc) visible at all times — or perhaps the crop could leave just enough space to always have the tools available on the left side?

[2020-02-23 16:12] GjjvdBurg commented on #26
Try version 0.5.4, both a ``--no-crop`` and a ``--right`` option are now available! :)

[2020-02-23 19:14] sirupsen commented on #26
😍

[2020-02-26 10:47] vberger opened #33 "Processed pdfs seems to lag the remarkable"
First of all, thanks a lot for doing this tool, it is quite useful!

However, there seem to be some way in which it processes the PDFs that make them difficult to handle for my remarkable. This for example happens with this paper: https://arxiv.org/abs/2002.09339

If I copy the arXiv PDF directly on the remarkable, it has no trouble loading and displaying it, however when I process it with `p2r -c

[2020-02-26 12:53] vberger commented on #33
After some more digging, it appears to be cause by the shrinking processing. Commenting this line makes the issue completely disappear:

https://github.com/GjjvdBurg/paper2remarkable/blob/74c0240b7022e199124acd8941d9fa3a1bea228f/paper2remarkable/providers/_base.py#L78

[2020-02-26 16:56] GjjvdBurg commented on #33
Thanks for the detailed bug report @vberger! I've just updated the package to simply return the original version when the shrink operation returns a bigger filesize (see version 0.5.5).

Note that for the paper that you link to there is still a short delay for the page with the heatmap image, but that seems to just be a hard page to parse as even my normal pdf reader hangs for a while.

[2020-02-26 16:56] #33 closed

[2020-03-20 19:39] guyvdbroeck opened #34 "docker image load local files"
I cannot seem to be able to load local files using the docker image.

/usr/local/lib/python3.7/site-packages/weasyprint/document.py:36: UserWarning: There are known rendering problems and missing features with cairo < 1.15.4. WeasyPrint may work with older versions, but please read the note about the needed cairo version on the "Install" page of the documentation before reporting bugs. http://weas

[2020-03-20 19:57] GjjvdBurg commented on #34
Could that be because the file is not accessible in the docker container? What if you map the location of the local folder (where main.pdf resides) as a volume too?

[code]

If that works I can add it to the documentation.

[2020-03-20 20:05] guyvdbroeck commented on #34
That must be it yes. I managed to get the non-docker install to work, so I am fine for now. Thanks!

[2020-03-20 20:05] #34 closed

[2020-03-20 20:10] GjjvdBurg commented on #34
Glad you got it to work!

[2020-03-31 22:13] ClaytonJY opened #35 "Dockerfile: Cairo version too old for Weasyprint"
I did a fresh `git pull` + `docker build`, and now get this when doing any `p2r` operation (like `--help`):

[code]
My intended operation, `p2r -cv <some arxiv link>`, threw this warning but seemed to work correctly, as far as I can tell.

I opened a shell into a container to check Cairo:
[code]
so Cairo is indeed on an older version.

Per the `Weasyprint` [install docs](https://weasyprint.readthe

[2020-04-03 10:14] #35 closed

[2020-04-04 22:26] GjjvdBurg commented on #22
I'm closing this as it's an issue in rmapi.

[2020-04-04 22:26] #22 closed

[2020-04-08 09:26] stekern commented on #34
I had the same issue as well. Created a short wrapper function that mounts the local file, and it's been working well for me :-)
[code]

[2020-04-08 20:17] GjjvdBurg commented on #34
Thanks for the comment @stekern! I'll add it to the readme

[2020-04-13 09:57] GjjvdBurg commented on #22
@matthijsvk this is now fixed in rmapi: https://github.com/juruen/rmapi/pull/95, thanks again for reporting!

[2020-04-15 09:11] nitin-ppnp opened #42 "p2r asking for pdftk instead of using qpdf on ubuntu"
I have kubuntu 18.04. When I run the example command
`p2r -v https://arxiv.org/abs/1811.11242 `. It gives the error
`[Errno 2] No such file or directory: 'pdftk': 'pdftk'`

[2020-04-15 10:13] #42 closed

[2020-04-15 10:14] GjjvdBurg commented on #42
Thanks for reporting this @nitin-ppnp! Should be fixed now and I'll prepare an updated release right away.

[2020-04-18 20:20] GliderGeek opened #44 "Any article on a website"
nice work on this tool.

i saw that you want to add the possibility to source from any website article. i just created a tool which takes URLs (from pocket read-later app) and create epubs for the remarkable: https://github.com/GliderGeek/pocket2rm. its written in go but there are plenty "readability" packages for python as well. hope this helps.

[2020-04-20 18:39] GjjvdBurg commented on #44
Hi @GliderGeek, thanks for your message. I'm not quite sure I understand what you're suggesting, as paper2remarkable already supports transferring a web article. The package uses [readability-lxml](https://github.com/buriy/python-readability) to extract the text from a HTML source, does some cleaning, and then sends it to the reMarkable as a pdf.

[2020-04-20 20:29] GliderGeek commented on #44
my bad, i saw it in the todo list in the readme so thought it was not present yet.

[2020-04-20 20:29] #44 closed

[2020-04-21 12:01] GjjvdBurg commented on #44
No worries @GliderGeek! I appreciate that you tried to help!

[2020-04-21 15:21] matthijsvk commented on #22
awesome, thanks :)

[2020-04-26 15:18] sirupsen opened #45 "Images for websites not included in PDF export"
Hello again Gertjan!

I was sending a long article this morning to my [Remarkable with p2r](https://conclave-team.github.io/conclave-site/) (I mostly use it for papers, so that's why I hadn't noticed this before), and unfortunately it seems that the images are lost :(

<img width="598" alt="image" src="https://user-images.githubusercontent.com/97400/80311708-294a8e80-87af-11ea-8f0e-50e8a6142694.pn

[2020-04-27 13:17] GjjvdBurg commented on #45
Thanks for reporting this issues @sirupsen! I think the fix in #47 ought to do it. I'll take a look at your other PR (#46) and prepare a release later today.

[2020-04-27 17:04] #45 closed

[2020-04-27 17:32] GjjvdBurg commented on #45
This is now available in 0.6.3, thanks again for reporting.

P.S. I enjoyed reading your superorganizers interview :)

[2020-04-28 11:58] sirupsen commented on #45
Thanks, glad you enjoyed it :)

I upgraded and tested this morning, still seems to have trouble.

For some reason it didn't work to try the same article, complaining about what I assume is a duplicate from `rmapi`. Although there's nothing to be found, searched in the reMarkable... odd.

Tried another article, but it also appears without pictures.

[code]

<img width="536" alt="image" src="https:/

[2020-04-28 12:32] GjjvdBurg commented on #45
Thanks for the update!

The first problem sounds like it might be a duplicate of #22, perhaps try updating your rmapi version and see if that solves it?

The second problem is due to the trailing slash on the image source. For some reason the weasyprint package, which does the actual downloading of images, doesn't deal with that well (same goes for `wget` on the command line, apparently). Simply s

[2020-04-29 22:52] mr-ubik opened #49 "ERROR: pdftk failed to compress the PDF file."
OS: Arch

[code]

Installed via `pip install --user paper2remarkable`

[code]

[2020-04-30 11:49] GjjvdBurg commented on #49
Thanks for the report @mr-ubik! I'll take a look

[2020-05-02 00:41] mr-ubik commented on #49
I have tried the script on several other papers, and it worked fine. That was the only one raising the error.

[2020-05-02 10:41] GjjvdBurg commented on #49
Yeah, that particular PDF file has a nested pdf file inside it, which breaks the (admittedly fragile) code that tries to remove the arXiv stamp (which this file doesn't actually have). The solution is to make the "dearxiv" function more robust, but it's going to take some time.

In the meantime, you can of course download the file to your computer and then point `p2r` at it, which will treat it as

[2020-05-03 20:16] #49 closed

[2020-05-03 21:29] GjjvdBurg commented on #49
Thanks again for the report @mr-ubik! I've just released an updated version of the package that fixes the problem.

[2020-05-24 18:44] sirupsen opened #51 "Multiple definitions in dictionary at byte 0xbe2 for key /ToUnicode"
[code]

You seen this before?

[2020-05-24 20:33] GjjvdBurg commented on #51
Hi @sirupsen, thanks for reporting this! I havn't encountered this problem before, but it appears to be due to some encoding problem in the PDF file. Passing it through GhostScript before any of the other
operations seems to solve it, and that step doesn't affect the output otherwise so it's an acceptable solution.

[2020-05-24 20:34] #51 closed

[2020-06-07 11:54] sirupsen opened #53 "Some images do not get picked up"
I have started sending newspaper articles to my Remarkable a lot more, passing it through `p2r`, since the output is much nicer and more consistent than a print-to-pdf.

However, some websites have trouble with images. I was debugging it a bit this morning, but had to step away before finding a solution.

Here's an example of [an article](https://www.economist.com/united-states/2020/06/04/how-to-f

[2020-06-12 14:13] GjjvdBurg commented on #53
Thanks for reporting this @sirupsen, I'll try to take a look soon

[2020-06-13 14:55] sirupsen commented on #53
BTW @GjjvdBurg do you have anywhere set up where I can donate/sponsor? Use `paper2remarkable` a lot for generating clean PDFs, least I could do :)

[2020-06-14 22:37] GjjvdBurg commented on #53
Thanks for the suggestion @sirupsen! I don't currently have anything set up, but I'll consider doing so.

So I've been looking into this and I can't figure out why _some_ figure tags get interpreted correctly and others don't. I got paywalled on the article you quoted above, but the same seems to happen on articles on Medium or some newspapers (such as Der Spiegel). Images on those articles don't

[2020-06-14 23:59] sirupsen commented on #53
One quick idea would be to see if the Javascript (which is maintained by Mozilla) readability has the same issue, and then shell out to it (or embed V8, which I know at least is commonly done in Ruby for asset compilation). Not ideal...

[2020-06-20 22:01] GjjvdBurg commented on #53
I think I've found a fix! :smile:

The Alan Turing Institute actually happens to have a project that wraps Readability.js, called [ReadabiliPy](https://github.com/alan-turing-institute/ReadabiliPy). This isn't available as a Python package yet (until alan-turing-institute/ReadabiliPy#86 is merged), but seems to be a feasible solution.

If you'd like to try it out, currently the steps are as follow

[2020-06-21 18:11] sirupsen commented on #53
Oh that's awesome! Unfortunately my Remarkable just broke.... so it'll be about 2 months (given the ridiculous schedule their warranty operates under) until I have one again. I ended up buying an iPad, because the flow of having a device for reading very dense articles is critical to me now.

[2020-06-21 22:27] GjjvdBurg commented on #53
Ouch, that's too bad, hope you can get a replacement soon!

[2020-09-15 16:20] GjjvdBurg opened #59 "Improve support for NeurIPS provider"
Currently ``https://papers.nips.cc`` is recognized, but ``https://papers.neurips.cc`` is not.

[2020-09-25 20:28] #59 closed

[2020-09-25 23:05] GjjvdBurg commented on #53
Hi @sirupsen, I've just pushed a new version of paper2remarkable that optionally uses Readability.js to extract the html article, which appears to solve the problem of missing images. Hope you're able to give it a try!

[2020-09-25 23:05] #53 closed

[2020-10-05 03:50] karanprime opened #61 "Feature to split two column pdfs into one column per page"
Since many academic papers are in two column format, splitting them into one column per page might be useful for readability and notetaking on the 10.3" display. The two columns are usually symmetrical. So, this could be done by cropping the two vertical halves of a pdf page.

### Example ( [random arxiv paper](https://arxiv.org/pdf/2010.01119.pdf):)
#### Input:
<img width="716" alt="Screen Shot 2

[2020-10-05 08:39] GjjvdBurg commented on #61
Hi @karanprime,

Thanks for the suggestion! This sounds like an interesting idea, but I don't know how easy it would be to implement. I'm not aware of any libraries that allow you to detect the columns accurately, so that would be a non-trivial exercise. Perhaps a useful work-around would be to use [arxiv-vanity](https://www.arxiv-vanity.com/) instead, and use ``paper2remarkable`` on that (this wo

[2020-10-05 09:55] karanprime commented on #61
Arxiv-vanity is a great idea! I will try using that, might even work with the chrome extension.

I would be happy to give it a shot. I don't know how to manipulate pdfs with python but I will follow [crop.py](https://github.com/GjjvdBurg/paper2remarkable/blob/master/paper2remarkable/crop.py).

[2020-10-05 10:07] GjjvdBurg commented on #61
The tricky bit will be finding the bounding boxes of the columns, once you have that you can indeed use the code in ``crop.py`` to extract that part of the page. Detecting these bounding boxes is not trivial, but there is [research on this problem](https://github.com/ibm-aur-nlp/PubLayNet). That repo also highlights that you'd have to figure out how to deal with images and tables the span multiple

[2020-10-20 10:20] GjjvdBurg commented on #61
I'm closing this for now as I don't currently have plans to implement this myself, but of course you're still welcome to submit a pull request if you've found a solution.

[2020-10-20 10:20] #61 closed

[2020-10-28 10:40] #9 closed

[2020-11-06 13:31] DOFfactory opened #73 "not taking the remarkable 8 char key"
Trying to follow the instructions on the docker build, however, whenever I enter the 8-char password, the website says "Success!"., while the command line keeps asking for a new code... Can you please assist in trouble-shooting?

When I try to run the container, I get the error `ERROR: 2020/11/06 13:29:24 auth.go:64: Code has the wrong length, it should be 8`

[2020-11-07 16:16] GjjvdBurg commented on #73
Hi @DOFfactory,

Sorry to hear you're having trouble with the authentication. First things first, did you check that the code you entered is indeed 8 characters? No spaces or anything?

The next thing to check is that you've used the correct commands. Did you run the following lines exactly for the authentication?

[code]

[2020-11-08 14:37] DOFfactory commented on #73
Hi @GjjvdBurg, thanks for the follow-up, there was an error in my path in the command, so it was a false alarm. Now it works, however, the instructions might be a bit clearer for the docker, as not everybody is setting up the .rmapi in their ${HOME}. Closing, works nicely, thanks for putting this together!

[2020-11-08 14:37] #73 closed

[2020-11-08 14:40] GjjvdBurg commented on #73
Hi @DOFfactory, thanks for letting me know that you got it working!

If you have suggestions for how to improve the documentation I'd love to hear it. I think the ``touch ${HOME}/.rmapi`` line is used because ``rMapi`` checks there first. I guess your suggestion is to also mention the ``${HOME}/.config/rmapi`` option?

[2020-11-08 14:43] DOFfactory commented on #73
I see, I am not familiar too much with the rmapi tool, I just have a dedicated path for every docker container I use, and I needed to use that instead. After little fiddling with the path it started to work. That being said, it was quite difficult to troubleshoot, what was the issue, so it might be useful to identify why the rmapi is asking again-and-again for the 8 character password, while the w

[2020-11-08 15:18] GjjvdBurg commented on #73
Thanks @DOFfactory, I'd appreciate the help. I don't use the docker approach myself, so getting insight from new users on how to improve the documentation is very valuable.

I've just expanded the section on [authentication](https://github.com/GjjvdBurg/paper2remarkable#authorization) to provide some more details. Hopefully this makes the instructions clearer but I'd appreciate your feedback!

[2020-11-08 23:52] DOFfactory commented on #73
One more thing: is there a way for the alias, how to add for example the `--right` argument by default to `p1r` of the docker command? I tried almost anything with the alias, and it does not work. I would love to avoid typing it every time to the CLI

[2020-11-09 00:38] GjjvdBurg commented on #73
I can't test right now, but does this work?

[code]

Or maybe:

[code]

[2020-11-09 10:21] DOFfactory commented on #73
Thanks @GjjvdBurg, tried both, none of them is working as intended. Somehow it ignores the `-r` argument, no idea why

[2020-11-09 12:52] GjjvdBurg commented on #73
I've just tested it here with:

[code]
(using ``-n`` to disable uploading while testing). Running it gives:

[code]

Note that the line saying the "right operation" is used. I'm not sure why it wouldn't work for you. Are you sure the docker version is used when you run ``p2r``? Try double checking with ``$ type p2r``. If you have it installed on your system directly that may cause conflicts.

[2020-11-09 13:56] DOFfactory commented on #73
Haha, it was initially not working, but a simple logout-logon helped. I guess bash does not check the changes in .bashrc only after logon. Thanks for helping with the troubleshooting.

[2020-11-09 14:08] GjjvdBurg commented on #73
Ah right, yeah the alternative is to source your .bashrc using ``source .bashrc``. Glad you got it working!

[2020-11-11 23:09] muhark opened #75 "Error on auth.go, Docker version"
I realise that this may be a bug on the rmapi side, but thought it would be good to bring to your intention.

I'm trying to use the docker version of this application and for every file I try to download/upload, I run into the following error:

[code]

System: Fedora 32
Device: Remarkable 2

Let me know what else you might need. As far as I can tell this happens right after removing the timestamp.

[2020-11-11 23:11] muhark commented on #75
Ah wait looking at the go code now, I think it may be an issue with my config.

[2020-11-12 08:39] muhark commented on #75
Have raised an issue on rmapi.

[2020-11-12 09:39] GjjvdBurg commented on #75
Is your problem perhaps related to #73?

[2020-11-20 10:19] reini1305 opened #77 "Exported annotations on cropped PDFs don't align"
If I send a PDF to remarkable with cropping enabled (e.g. with `--right` or default parameters), the resulting annotation is at the wrong position when exporting the PDF. In this example, you can see the view in the remarkable app on the left, and the corresponding PDF export on the right:
![Screenshot 2020-11-20 at 11 11 48](https://user-images.githubusercontent.com/6517551/99788438-639bc480-2b21

[2020-11-20 11:25] GjjvdBurg commented on #77
What are you using for exporting annotations? If it's rMapi the bug might be in their code. When p2r crops the pdf the dimension of the pages will be changed, so the calculation of the annotation position must take that into account. This isn't something that can be fixed in p2r unfortunately.

[2020-11-20 12:47] reini1305 commented on #77
I'm using the remarkable app itself on Mac to do the export.
I'm afraid that the bug is in their export code...

[2020-11-20 13:16] GjjvdBurg commented on #77
Yeah, that's quite likely. What p2r does is essentially a "hard crop" since the page dimensions are changed. The reMarkable itself I think only adjusts the view when you use the crop function, leaving the page size unchanged.

There are a number of tools to export annotations, including rMapi, remarks, and rM2svg (see [this page](https://github.com/reHackable/awesome-reMarkable) for an overview).

[2020-11-20 13:54] GjjvdBurg commented on #75
Closing this, please reopen if necessary.

[2020-11-20 13:54] #75 closed

[2020-11-20 13:59] reini1305 commented on #77
Thanks. I think it would be good to note this somewhere or possibly change the default option to avoid user frustration :)

[2020-11-20 14:11] GjjvdBurg commented on #77
Done!

[2020-11-27 15:46] DoeJoeDE opened #78 "Cannot transfer a local file with spaces in its name"
I cannot get it to transfer a local file  with spaces in its name.

Entering something like

`docker run --rm -v "${HOME}/.rmapi:/home/user/.rmapi:rw" -v "$(pwd):/home/user" p2r -v 'example example.pdf'`

throws the following error:

`ERROR: Couldn't figure out what source you mean. If it's a local file, please make sure it exists.`

I already tried both 'example example.pdf' as well as "example e

[2020-11-27 19:46] GjjvdBurg commented on #78
Hi @DoeJoeDE, thanks for reporting this.

I can't directly reproduce this since I don't have windows, but perhaps we can debug it together. Have you tried escaping the whitespace using a backslash? The command would be:

[code]

[2020-11-27 20:01] DoeJoeDE commented on #78
That also does not seem to fix the issue, it still throws the same error message.

I have written a script for myself to simply replace all spaces in the file names, but I am still wondering why it does not work regardless of how I try to account for the spaces.

[2020-11-27 20:14] GjjvdBurg commented on #78
I suspect it'll have something to do with how docker interprets command line arguments. I can take a look later in the week, but glad you found a work-around in the meantime.

[2020-12-08 12:53] AlamOs04 opened #80 "pdf timetables"
When cropping a document the timetable isn't present in the output file. Since all pages from the original file are kept (even the empty ones), would it be possible to keep the timetable or add it afterwards?

[2020-12-08 20:41] GjjvdBurg commented on #80
Thanks for reporting this @AlamOs04! I'm assuming you mean the table of contents? This is indeed not preserved at the moment, but I'll see what I can do.

[2020-12-21 17:03] GjjvdBurg commented on #78
I tried to reproduce this today, but the command provided in the top comment,

[code]

works on Linux. If someone has ideas on solving this on Windows I'm happy to add it to the readme, but for now there's nothing I can do to solve this as I don't have access to a Windows machine.

[2020-12-23 20:40] jerrison commented on #34
Hi @stekern, I am using Windows and have docker installed. How do I use this wrapper to call this command directly from PowerShell?

[2020-12-23 23:47] teranex opened #82 "Custom font and line-spacing"
When fetching an URL, is it somehow possible to specify the font (or font family) to use and specify the line-spacing? When possible I prefer reading articles in a serif font and with a larger line spacing.

[2020-12-27 20:16] #82 closed

[2020-12-27 20:19] GjjvdBurg commented on #82
Hi @teranex, thanks for the suggestion! I've just added support for providing your own CSS to style the HTML output. I'll prepare a new release of the package right away.

For now you'll have to supply the css/font urls to the script using command line flags, but I'm thinking of adding support for a configuration file in the future, which would hopefully make this a smoother experience.

Let me kn

[2020-12-28 01:01] GjjvdBurg commented on #82
The program now has support for providing a configuration file where the custom css and fonts can be specified. Please check the readme for more info.

[2020-12-28 21:40] teranex commented on #82
This works. Thanks a lot!

[2020-12-29 12:01] stekern commented on #34
@jerrison I've only used the Bash script on MacOS and Linux, and I'm not that familiar with PowerShell, unfortunately.

If you're using Windows and Windows Subsystem for Linux (WSL), I think you may be able to use the script with only minor modifications (e.g., the volume paths in the `docker` commands may need to be updated due to different path formats in Windows vs. UNIX).

[2021-01-05 20:29] charlie-cummings opened #86 "Error Building wheel for paper2remarkable (PEP 517)"
To preface, I'm a physics student so I'm not an expert at this stuff so I apologize if this is a very simple issue.

I am using Python 3.6, and pip, setuptools, wheels are fully updated. I am running an Ubuntu 18.04 subsystem on Windows 10. I have all the dependencies (rMAPI, etc) installed.

When I run `pip install paper2remarkable`, where paper2remarkable is the path to my local installation of

[2021-01-05 22:05] GjjvdBurg commented on #86
Hi @charlie-cummings, thanks for reporting this issue, I'm sorry to hear you're having trouble with the installation.

You mention that you're running ``pip install paper2remarkable`` on a local installation (clone) of the repository. This might be confusing the package source for pip, as it shouldn't be necessary to clone the repository prior to installation.

Could you try running ``pip install

[2021-01-05 22:15] charlie-cummings commented on #86
Update: this did work.

I had tried this first (because that's what the instructions said) but it didn't work: it said it couldn't find the package. I live in a rural area and so I'm not gonna discount it was just my internet that was the issue! Additionally, I think my journey to fix it led me to update many things that needed updating that led it to work. Sorry for taking up your time with such

[2021-01-05 22:15] #86 closed

[2021-01-05 22:23] GjjvdBurg commented on #86
No problem @charlie-cummings, glad to hear you got it to work!

[2021-01-22 01:02] charlie-cummings opened #89 "Transfer of multiple files with similar names"
Hello!

I don't know if this is a bug or a feature request but sometimes I have a lot pdfs I would like to move at once. My thought was to just use `p2r /path/to/dir/*.pdf` but it successfully sends over the first pdf, while throwing up the error message

For files with similar names, i.e. notes_47 an easy workaround is to just throw the p2r command into a for loop but I was wondering if there is

[2021-01-22 01:04] charlie-cummings commented on #78
I use windows but I have an ubuntu subsystem, and that's what I use for p2r. I'd recommend this strongly because Linux has much better documentation for things like this, in a way it's like the best of both worlds if you're like me and prefer Windows for daily computer usage.

[2021-01-22 14:19] GjjvdBurg commented on #89
Hi @charlie-cummings, thanks for reporting this issue. The idea you had of using ``p2r /path/to/dir/*.pdf`` should indeed work, so I'm not sure why it doesn't. I can't seem to reproduce it on my end unfortunately.

I used the following script to generate some test files and ran ``p2r -v -n hello_world*.pdf`` without issues. Could you check if this works for you?

[code]

Another thing to check wou

[2021-03-01 12:53] GjjvdBurg commented on #89
Closing this due to inactivity, please reopen if it's still an issue.

[2021-03-01 12:53] #89 closed

[2021-03-01 12:55] GjjvdBurg commented on #78
I'm closing this as I don't have a Windows system to test on and various workarounds have been proposed. If there's anything to add to the documentation or any other solutions, please reopen the issue.

[2021-03-01 12:55] #78 closed

[2021-03-02 22:16] GjjvdBurg commented on #80
Fixed in #94 thanks to @Kazy, please update to v0.9.0 of the package to use this feature.

[2021-03-02 22:16] #80 closed

[2021-03-03 00:47] GjjvdBurg commented on #11
Closing this as wontfix, since ProjectEuclid has frustrating DDOS protection that hampers this script and there's no easy/reliable way around that. Work in progress can be found in the [feature/project_euclid](https://github.com/GjjvdBurg/paper2remarkable/commit/13d774c28994b5d92ac5047b11d0f370c85f1306) branch if anyone has ideas on getting around the issue reliably.

[2021-03-03 00:47] #11 closed

[2021-03-05 17:30] gwtaylor commented on #77
I'm wondering if anyone has found a workflow to deal with this issue yet, or found success with any of the tools that @GjjvdBurg suggested?

I am using the (convenient) reMarkable app functionality to export to PDF. I'm experiencing the same behaviour as described: annotations don't align to the cropped PDF.

Yes, I could disable cropping, but it is a nice-to-have! So if anyone discovered a workfl

[2021-03-05 19:32] GjjvdBurg commented on #77
Hi @gwtaylor,

I'm not aware of any work-arounds, but I do have an idea of how we can fix this. As far as I recall the issue is that we set the bounding box of the PDF, which is sort of a "hard" crop, whereas the reMarkable supports adjusting the view as well (a "soft" crop).

So, the idea is to add an option to p2r to use a soft crop if the user prefers. I just added my work-in-progress code to t

[2021-03-06 04:31] gwtaylor commented on #77
Hi @GjjvdBurg, thanks for your reply and for drafting #95. I found a workaround, though I think your proposed solution is more elegant than mine.

To answer your question about the reMarkable's crop functionality, I did attempt to use "Reset View" in the UI, after the file had been hard cropped and annotated, but that didn't make a difference. I think that was because after the hard cropped, the v

[2021-03-06 16:40] GjjvdBurg commented on #77
Thanks for sharing your approach @gwtaylor! This seems like a good intermediate solution to have around while #95 is unfinished, and I'm sure it'll help people who are dealing with the same issue.

FWIW, I did indeed mean a soft-crop + export, so good to know that that does work. Thanks!

[2021-03-18 14:23] lieuzhenghong opened #97 "Any interest in making the provider code a standalone library?"
Hi Gertjan,

Big fan of the tool you've built here!

I wonder if you'd have any interest in pulling out the provider code and making it a standalone library, because I definitely see this as something that would be useful over and above sending a PDF to the Remarakable. To be precise, I mean pulling out  `choose_provider` and the parsers in the `providers` folder as its own standalone repo (could

[2021-03-19 16:04] GjjvdBurg commented on #97
Hi @lieuzhenghong ,

Thanks for your kind words and for the suggestion! I'm worried that spreading the functionality over different packages would make it more difficult to maintain. Besides, the providers are pretty much the core of the package and the external programs (rmapi/pdftk/ghostscript) are optional. Moreover, by using the ``-n`` flag you can download the file locally without sending it

[2021-03-19 17:32] lieuzhenghong commented on #97
Hi Gertjan,

I definitely see where you're coming from with regard to making it more difficult to maintain. I think there are some ways to get around this (possibly a git submodule?) but of course nothing beats having it all in one repo.

I think a refactor would actually be a good idea, if you're willing to consider it. I made a fork and basically gutted your codebase (feels pretty bad to do so).

[2021-03-22 12:04] GjjvdBurg commented on #97
Hi ZH,

I've been thinking about this, and while I'd be happy to consider a refactor, I wonder if you could create a subclass of the Provider class instead. If you subclass the Provider and set the list of ``operations`` to empty, override compress_pdf and uncompress_pdf, I think you might be most of the way to what you want. It would look something along the lines of:

[code]

I'll admit this isn

[2021-03-22 16:43] lieuzhenghong commented on #97
Hi Gertjan,

That does work! Thanks a lot. It's relatively clean, too.

You're right that isn't the nicest way of solving it, because the code is still not very modular. I would like to have it as a function/module I can simply import into my existing email-to-Remarkable codebase using as few dependencies as possible.

One way I thought of would be to refactor the provider code into a upstream rep

[2021-03-24 09:56] arieder opened #98 "adding blank pages fails"
Hi,

when I try to use p2r with the -b flag, i always get "can't set attribute". I've tracked down the problem to the call pdf.pages=[].
If instead I use a new Pdf object to add the pages to, everything seems to work fine. Namely, I'm now using the following code:

[code]

anyway, thank you for your work!

[2021-03-24 12:34] GjjvdBurg commented on #97
Hi @lieuzhenghong,

Thanks for your detailed response. I'm leaning towards refactoring as opposed to splitting the repo, but I do see your point regarding modularity. At the moment I'm not too keen on maintaining a general-purpose "paper downloading" package, as that will lend itself too easily to misuse. This package is first and foremost a tool for personal use that is meant to make it easy to g

[2021-03-24 12:37] GjjvdBurg commented on #98
Hi @arieder,

Thanks for reporting this issue. Unfortunately I can't seem to reproduce this problem on my end, as the following command works for me:
[code]
Do you have the problem with this command as well? Otherwise there may be something about the specific file(s) that results in an error.

The fix you propose looks good but I'd like to make sure I understand why this happens before I implement

[2021-03-24 13:05] arieder commented on #98
Hi,

I've tested multiple files, both local and arxiv. Your command also gives the error. Namely, it outputs:

[code]

Maybe there is a difference in pikepdf versions? I'm using 2.9.0, installed via pip.

best,
Alex

[2021-03-24 13:13] GjjvdBurg commented on #98
Thanks for checking this. It is indeed the pikepdf version, I was using 2.8.0 but after an upgrade to 2.9.0 I can reproduce the problem. I'll try to take a look soon. In the meantime you could consider downgrading pikepdf to 2.8.0 to restore the functionality.

[2021-03-27 13:09] faroit opened #100 "Keep internal links"
version 2.6 of the remarkable os supports internal links in PDFs. Without having done deeper analysis, to me it looks like p2r removes hyperlinks in its process. It that' really the case, this would be great to add as a feature.

[2021-03-27 14:13] GjjvdBurg commented on #100
Thanks for reporting this @faroit. Can you provide an example of a file with hyperlinks that works when uploaded directly but not when uploaded with p2r?

[2021-03-27 23:21] #98 closed

[2021-03-28 12:23] faroit opened #103 "Optionally add margin"
`--no-crop` often is useful when users want to use the white space of the paper for annotations
`--blank` is useful for a lot of additional remarks

With the recent updates in 2.6 and the ability to quickly zoom, maybe a middle ground would make a good addition. I would propose a two step procedure

1. crop-off the margin like in the current default
2. optionally re-add a margin to the cropped pag

[2021-03-28 12:29] faroit commented on #100
Sure: https://arxiv.org/pdf/2103.03206.pdf, for example.

[2021-03-28 20:24] GjjvdBurg commented on #100
Thanks for the link, I can confirm the bug. It seems to happen when cropping, but not when running with the ``--no-crop`` flag, which suggests that the problem is in the [process_page](https://github.com/GjjvdBurg/paper2remarkable/blob/4b20e3da0ec89452e20ae54be8896055300cdf0f/paper2remarkable/crop.py#L128) function. This is strange because the metadata of the pages should be maintained [since we s

[2021-03-29 11:19] GjjvdBurg commented on #103
The default ``--crop`` option (and to a lesser extend the ``--right`` option) already crop with space left over for margin notes, no? The margins are defined [here](https://github.com/GjjvdBurg/paper2remarkable/blob/4b20e3da0ec89452e20ae54be8896055300cdf0f/paper2remarkable/crop.py#L75) so you could consider forking the project and changing the margins to a size that fits you.

[2021-03-29 11:28] faroit commented on #103
sounds good, thanks

[2021-03-29 11:28] #103 closed

[2021-04-16 16:21] mark-schultz opened #104 "New source recommendations"
I'd just quickly like to suggest two new sources that appear in theoretical computer science/cryptography, namely:

* IACR's Eprint: It is located at https://eprint.iacr.org/ . The format is that the abstract of a paper is contained at https://eprint.iacr.org/2021/489 , and the paper itself is found by appending .pdf to this https://eprint.iacr.org/2021/489.pdf
* ECCC: This is located at https://e

[2021-04-16 23:08] GjjvdBurg commented on #104
Thanks for the suggestions @mark-schultz, I'll see what I can do!

[2021-04-28 17:39] ReinierKoops opened #105 "Suggestion: add example conversion to Readme."
Hi Gertjan, love this tool. thank you for making it. Just as the title suggests, could you add a pdf conversion example image with default options enabled to the repository Readme?

[2021-04-28 23:30] GjjvdBurg commented on #105
Hi Reinier, thanks for opening this issue, glad to hear you like the tool!

Could you elaborate on what kind of image you have in mind? Would it show the reMarkable as well, or only how borders are removed? If you'd like to make it yourself I'd be happy to consider a pull request of course.

[2021-04-29 07:49] ReinierKoops commented on #105
Sure, I'll make a pull request for it in a few days!

[2021-05-11 23:18] #105 closed

[2021-05-23 10:17] ahenkes1 opened #109 "Math symbols are not converted"
Using the standard settings of `p2r`, math symbols are not displayed correctly, e.g.

`p2r  -n http://alexkritchevsky.com/2020/10/15/ea-operations.html `

leads to

![Screenshot from 2021-05-23 12-16-07](https://user-images.githubusercontent.com/62153181/119256386-c9e0cd00-bbc0-11eb-8e70-8ef65701500e.png)

What am I missing?

[2021-05-23 10:53] GjjvdBurg commented on #109
Hi @ahenkes1,

Math symbols are typically rendered using Javascript after the page loads. With `p2r` the raw html is downloaded, and readability/readabilipy is used to extract the "main" content. There is no support for running the Javascript that is called on page load, since `p2r` isn't emulating a browser fully.

The best solution is probably to use the browser to print the file to PDF, and the

[2021-05-23 11:12] ahenkes1 commented on #109
Thank you very much for your help, @GjjvdBurg !

[2021-05-23 11:12] #109 closed

[2021-05-24 09:11] philastrophist opened #110 "[Errno 2] No such file or directory"
When inputing multiple papers I get a directory error:

[code]

However, when I do them one by one, it succeeds

PS. this is such a great tool!

[2021-05-24 11:21] philastrophist opened #111 "Hanging on removing timestamp"
I've been waiting for an hour for this complete!

[code]

[2021-05-24 11:41] GjjvdBurg commented on #111
That's strange, I can't seem to reproduce that:

[code]

Are you using pdftk or qpdf?

[2021-05-24 16:51] philastrophist commented on #111
qpdf and it happens without fail

[2021-05-24 17:28] GjjvdBurg commented on #111
So, here's what happens: to remove the arXiv stamp reliably we decompress the PDF, remove the stamp and compress it again. However, this particular PDF file decompresses to about 215 MB (probably due to all the pretty plots), which is obviously quite large and therefore time consuming. Why it takes over an hour for you and a few minutes for me I don't know, it might be a hardware difference, but i

[2021-05-24 17:33] philastrophist commented on #111
I think I can just get away with a crop for arxiv papers. Does it need to unpack for that as well?

[2021-05-24 17:46] GjjvdBurg commented on #111
Yeah, it might. On closer inspection it seems that the culprit is Ghostscript, which takes about 40 seconds for me and is probably the reason it's slow on your end. This is used to "rewrite" the pdf and to shrink it, and with the ArxivProvider this is actually called 3 times (one of which I think can be eliminated, and I'll leave this issue open to look into that).

Does it take this long for you

[2021-05-24 18:45] philastrophist commented on #111
Yeah, it’s just this one (although there actually many like it from arxiv).
I think if it can’t crop without unpacking/rewriting, I can’t use p2r. I wanted to make crontab script but if it does this then I can’t.

Oh well, thanks anyway. I’ll upload unmodified

[2021-05-24 18:56] GjjvdBurg commented on #111
Can you give some other examples that are that slow for you? Might be useful for testing if there are indeed many of them.

[2021-05-24 19:32] philastrophist commented on #111
Off the top of my from the previous day I've only got two so far the one above and https://arxiv.org/abs/1808.10452.
I believe it's probably the number of points in the plots...

[2021-05-24 20:39] GjjvdBurg commented on #111
Thanks, it's strange that it takes so long for you, that one takes about 40 seconds for me (although it does unpack to 42MB). What version of Ghostscript do you have? And what platform are you on?

[2021-05-29 14:08] #110 closed

[2021-05-30 20:27] GjjvdBurg commented on #104
These are now available in v0.9.4.

[2021-05-30 20:27] #104 closed

[2021-07-18 12:55] philippmuench opened #118 "GLib-GObject-CRITICAL error when copying a website"
Hi,
thanks providing this tool! When importing websites I get the following error (although it works and I get a pdf on the Remarkable 2)

[code]

I'm on MacOS 11.4 and I installed all dependencies as described in the README. Maybe someone can point me what is causing the error?

[2021-07-18 13:10] GjjvdBurg commented on #118
Seems related to WeasyPrint, see https://github.com/Kozea/WeasyPrint/issues/830 Can you try reinstalling it as in the last comment in that thread? If it still works and you still get the pdf on the remarkable it may not be something to worry about.

[2021-07-18 14:34] philippmuench commented on #118
Thanks! Unfortunately without success. But since it's not affecting the function I can live with the error message. Was just curious if there is an easy fix or what is causing this.

[code]

[2021-07-18 14:41] GjjvdBurg commented on #118
Too bad that didn't solve it! If it doesn't affect the functionality of p2r I think we can close this issue for now. If it ever becomes an issue feel free to reopen and we can look further. Judging from what I found online it seems to be an issue with WeasyPrint, so keeping that up to date might one day resolve the issue :)

[2021-07-18 14:41] #118 closed

[2021-10-02 10:12] GjjvdBurg commented on #111
Closing this as I don't think there's much that can be done here. Please reopen if there's more to discuss.

[2021-10-02 10:12] #111 closed

[2021-12-11 01:36] earasteh opened #125 "pdf not found on remarkable"
This is a great tool for RM. Thanks for developing this. I might be a newbie but I am not able to see the pdf document being sent to the RM2. I checked the Rmapi and it works. I also looked using the "find" command inside the terminal of the Remarkable. Is there a specific folder that it usually goes to? Here is a snapshot of what I get when I run p2r:

![image](https://user-images.githubuserconte

[2021-12-25 23:18] Uzay-G opened #128 "Specify local html file"
Eg.:

[code]

[2022-02-17 11:52] sypianski opened #130 ""Could not build wheels for pikepdf""
As I was trying to install p2r, but got this error. I'm not much familiar with Terminal. I'm running macOS Monterrey 12.1.

<details>
<summary>click</summary>

[code]
</details>

[2022-02-17 13:08] GjjvdBurg commented on #130
Hi @sypianski, thanks for reporting this. It looks to be an issue with installing the [pikepdf](https://pypi.org/project/pikepdf/) dependency. The output you posted suggests that pip is trying to build the wheel for pikepdf, but this shoudn't be necessary as pikepdf distributes the wheels on PyPI ([see this page](https://pypi.org/project/pikepdf/#files)). That link also suggests that it was recent

[2022-02-17 13:08] #130 closed

[2022-03-05 16:21] robfreundlich opened #131 "Can't get -p option (or --remarkable-path) to work"
No matter what I try, the PDF file ends up in the `/` directory. Here's a sample session:

[code]

Note that although I'm using a local file here, I started out using a URL and simplified down to the local file to minimize moving parts.

I'm running Ubuntu via WSL2 on Window 10.

[2022-03-06 22:43] GjjvdBurg commented on #131
Hi @RobFreundlich,

Thanks for reporting this issue and sorry to hear you're having trouble. Can you try directly uploading to the Tools directory through rMapi? You can try that with this command:
[code]
If this doesn't work, can you please also try without a leading slash?
Thanks!

[2022-03-07 23:01] RobFreundlich commented on #131
Using rMapi directly puts it in the /Tools directory.

[2022-07-27 15:59] kahn-jms commented on #131
Howdy, it looks like the `remarkable_dir` argument isn't actually passed to the runner in `ui.py` in
https://github.com/GjjvdBurg/paper2remarkable/blob/master/paper2remarkable/ui.py#L337

Passing it there fixes this, though it looks like this should really be passed via `options`, though the `remarkable_dir` argument is currently missing from `merge_options` in `ui.py`.

[2022-07-31 21:47] #131 closed

[2022-07-31 21:55] GjjvdBurg commented on #128
Thanks for the suggestion @Uzay-G! I'm afraid this isn't something I'm looking to support, so I'll close this issue.

[2022-07-31 21:55] #128 closed

[2022-11-25 19:28] la32094uf opened #137 "Installation Struggles on MacOS"
Had issues on installing on a MacOS M1 / Ventura

because:
### Installing Rmapi
`go get -u github.com/juruen/rmapi ` --> had to install go --> newest version of go does not support `get -u` anymore.

Tried to install it via
[code]
But then p2r could not find the binary.

So instead I downloaded the rmapi binary, and placed this in /usr/local/bin (Don't think it is the best way to go).

### Install